<div class="question">
  <p><%= @answer[:question] %></p>
  <p class ="who"> - You</p>
</div>
<div class="answer">
  <p> <strong><%= @answer[:answer] %></strong></p>
  <p class="who"> - Your coach </p>
</div>
<%= link_to "Ask an other question", ask_path %>
