<form action="/answer">
  <p>Ask your coach anything:</p>
  <div class="form-group">
    <input class="form-control" type="text" name="question">
    <input class="btn btn-secondary" type="submit" value="Ask!">
  </div>
</form>
